{{#each this}}
 <div class="gallery__item film-card" data-film-id="{{id}}">
      <picture>
                <img
                  srcset="
                    https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}    1x,
                    https://www.themoviedb.org/t/p/original/{{poster_path}} 2x
                  "
                  src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}"
                  alt="Аватарка"
                  width="450"
                  loading="lazy"
                />
              </picture>
      <h2 class="film-card__title">{{title}}</h2>
      <div class="film-card__info-wrapper">
        <ul class="film-card__ganres">
          {{#each genre_ids}}
          <li class="film-card__ganre">&nbsp{{this}}</li>
          {{/each}}
        </ul>
        <p class="film-card__year">{{release_date}}</p>
      </div>
    </div>
    {{/each}}