{{#each this}}
<div class="movie-modal-card">
    <div class="movie-poster-container">
        <img class="modal-movie-poster" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{original_title}} poster" data-id={{id}}>
            {{!-- <button type="button" class="youtube-btn youtubeBtn-js" data-tailer="youtube" data-id={{id}}>
                <svg class="modal-play-icon" width="100" height="100"></svg>
            </button> --}}
    </div>
        <a class="gallery-link" href="{{largeImageURL}}">
            <img class="gallery-item__img" src='{{webformatURL}}' alt='{{tags}}' loading='lazy' />
            <div class="info">
                <p class="info-item">
                <b>Likes</b>
                <span>{{likes}}</span>
                </p>
                <p class="info-item">
                <b>Views</b>
                    <span>{{views}}</span>
                </p>
                <p class="info-item">
                <b>Comments</b>
                <span>{{comments}}</span>
                </p>
                <p class="info-item">
                <b>Downloads</b>
                <span>{{downloads}}</span>
                </p>
            </div>
        </a>
    </div>
</div>
{{/each}}