
<div class="movie-modal-card" data-current-movie-id="{{id}}">
        <img class="modal-movie-poster" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{original_title}} poster">

    <div class="film-information">
        <div>
            <h2 class="film-title">{{title}}</h2>
            <ul class="film-list">
                <li class="film-item">
                    <p class="film-details ">Vote / Votes</p>
                    <p class="film-info--uper">
                        <span class=" film-rating--orange">{{vote_average}}</span>
                        <span class="film-rating--divider"> / </span>
                        <span>{{vote_count}}</span>
                    </p>
                </li>
                <li class="film-item">
                    <p class="film-details ">Popularity</p>
                    <p class="film-info--uper">{{popularity}}</p>
                </li>
                <li class="film-item">
                    <p class="film-details">Original title</p>
                    <p class="original">{{original_title}}</p>
                </li>
                <li class="film-item">
                    <p class="film-details">Genre</p>

                    <p class="film-info">{{#each genres}}
                    <span class="genre-item">{{this.name}}</span>
                    {{/each}}</p>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="film-about-title">About</h3>
            <p class="film-about-text">
                {{overview}}
            </p>
        </div>
        <div class="film-button-wrapper">
            <button type="button" class=" film-button btn-watch">Add to watched</button>
            <button type="button" class=" film-button btn-queue">Add to queue</button>
        </div>
    </div>
</div>